--extra-index-url https://download.pytorch.org/whl/torch_stable.html

dask>=2023.3.2
transformers>=4.28.1
torch>=2.0.0
snscrape>=0.6.2.20230321.dev29+g310fad0
tqdm>=4.65.0
networkx>=3.1
pandas>=1.5.3
google_cloud_translate>=3.11.1
googletrans>=4.0.0rc1
requests>=2.29.0
hdbscan>=0.8.29
leidenalg>=0.9.1
fastparquet>=2023.2.0
ipdb>=0.13.13
pyvis>=0.3.2
python_bidi>=0.4.2
igraph>=0.10.4
wordcloud>=1.9.2
numpy>=1.24.3
vaex>=4.16.0
umap_learn>=0.5.3
pyspark>=3.4.0
matplotlib>=3.7.1
tokenizers>=0.13.3
sentencepiece>=0.1.97
pyarrow>=9.0.0
bertopic>=0.14.1
arabic_reshaper>=3.0.0
