--extra-index-url https://download.pytorch.org/whl/torch_stable.html

requests>=2.29.0
matplotlib>=3.7.1
dask>=2023.3.2
tqdm>=4.65.0
googletrans>=4.0.0rc1
igraph>=0.10.4
torch>=2.0.0
ipdb>=0.13.13
arabic_reshaper>=3.0.0
hdbscan>=0.8.29
python_bidi>=0.4.2
umap_learn>=0.5.3
networkx>=3.1
numpy>=1.24.3
fastparquet>=2023.2.0
pyarrow>=9.0.0
pyvis>=0.3.2
pandas>=1.5.3
wordcloud>=1.9.2
tokenizers>=0.13.3
vaex>=4.16.0
leidenalg>=0.9.1
-e git+ssh://git@github.com/oalee/sentence-transformers.git@1c2c90b8ce6812fae491944129d10e73a6009f69#egg=sentence_transformers
sentencepiece>=0.1.97
google_cloud_translate>=3.11.1
-e git+ssh://git@github.com/ilex-paraguariensis/yerbamate.git@b53e93b46537e7de75c8c8cd42f142cfabbaf96b#egg=yerbamate
bertopic>=0.14.1
pyspark>=3.4.0
