wordcloud>=1.9.2
fastparquet>=2023.2.0
leidenalg>=0.9.1
numpy>=1.24.3
networkx>=3.1
igraph>=0.10.4
pyvis>=0.3.2
pandas>=1.5.3
tqdm>=4.65.0
-e git+https://git@github.com/ilex-paraguariensis/yerbamate.git@ad93170638d73c29d04b7d3d2d0c1c77832ee02f#egg=yerbamate
